<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!-- This file is packaged as Install\&lt;add-in assembly&gt;.dll.config. -->
  <BetterInspectorSettings
      EvaluateCalculationRulesByDefault="false"
      EvaluateValidationRulesByDefault="true"
      UseVisibleEvaluationExtentByDefault="true"
      EvaluateModifiedVersionByDefault="true"
      RunEvaluationAsynchronouslyByDefault="false">
    <ErrorInspectorColumns>
      <Column Key="ShapeIndicator" Order="1" IsVisible="true" />
      <Column Key="RuleType" Order="2" IsVisible="true" />
      <Column Key="ExceptionStatus" Order="3" IsVisible="true" />
      <Column Key="FeatureObjectId" Order="4" IsVisible="true" />
      <Column Key="FeatureClass" Order="5" IsVisible="true" />
      <Column Key="AssetGroup" Order="6" IsVisible="true" />
      <Column Key="FeatureGlobalId" Order="7" IsVisible="true" />
      <Column Key="ErrorNumber" Order="8" IsVisible="true" />
      <Column Key="Message" Order="9" IsVisible="true" />
      <Column Key="Rule" Order="10" IsVisible="true" />
      <Column Key="Description" Order="11" IsVisible="true" />
      <Column Key="Severity" Order="12" IsVisible="true" />
    </ErrorInspectorColumns>
  </BetterInspectorSettings>
</configuration>
